.site-header{
    max-width: 100%;
}
.header-img{
    width: 100%;
/*     background-attachment: fixed; */
    background-size: contain;
/*     background-position: center; */
}

/* Navigation Bar */
.container {
    position: absolute;
    margin: -3.5% 0% 0% 0%;
    width: auto;
}

.nav{
    max-width: 100%;
    height: auto;
}
li{
    display: inline-block;
    padding: 0px 25px 0px 15px;
    text-transform:uppercase;
    font-family:'Raleway' , sans-serif;
    font-size: 11px;
    font-weight: bold;
     
}
a:link, a:visited{
    text-decoration: none;
    color: #f1f1f1;
}

/* style for the dropdown list */
.dropbtn1 {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content1 a {
    color: #002e5d;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: none;
    display: block;
    text-align: left;
}
  
.dropdown-content1 a:hover {
    background-color: #f1f1f1;
    color: #efc011;
}
  
.dropdown:hover .dropdown-content1 {
    display: block;
}

a:hover, .dropdown:hover .dropbtn{
    color:#efc011;
}
.dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: #002e5d;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #efc011;
}
  
.dropdown:hover .dropdown-content {
    display: block;
  }

a:active{
    color: #efc011;
}

/* style for category title */
.page-title{
    font-family: 'Raleway', sans-serif;
    color:#002e5d;
    font-size: 3em;
    text-align: center;
    margin: -2%;
    text-transform: uppercase;
}

.page-title::after{
    content: "";  
    display: block;
    margin: -4% auto; 
    width: 51%; 
    border-bottom: 2px solid #002e5d;
    
}

/* style for headline */
.headline-container{
    margin: 5px;
}

.sample-img{
    width: 670px;
    height: 350px;
    display: block;
 /*    margin-left: auto;
    margin-right: auto; */
    background-size: contain;
    margin-top: 5%;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

.sample-img:hover{
    filter: brightness(20%);
}

.headline1{
    position: absolute;
    bottom: -5%;
    left: 25%;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-transform: lowercase;
}

.byline{
    font-weight: 400;
    font-size: 25px;
    padding-left: 58%;
    margin-top: -16%;
}

/* style for the sort list */
.sort-container{
    font-family: 'Raleway', sans-serif;
    margin-top: 5%;
    margin-left: 22%;
}

#sort-link{
    color: #002e5d;
    text-align: center;
    font-size: 20px;
}

#sort-link:hover{
    color: #efc011;
}
/* style for text */
.text-container{
    margin-right: 50px auto;
    width: 52.5%;
    padding: 8px;
    padding-top: 4%;
    margin-left: 290px;
    border-top-style: solid;
    color: #002e5d;
    border-width: 3px;
}
.img2{
    float: left;
    width: 320px;
    height: 200px;
    padding: 0 10px 0 0;
}

.text{
    text-align:justify;
    font-family: 'Raleway', sans-serif;
}

#article-link{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #002e5d;
}

.link-container{
    text-align: center;
    padding-top: 10px;
}

#article-link:hover{
    color: #efc011;
}

/* style for text 2 */
.text-container2{
    margin-right: 50px auto;
    width: 52.5%;
    padding: 8px;
    padding-top: 5%;
    margin-left: 290px;
}
.img3{
    float: left;
    width: 320px;
    height: 200px;
    padding: 0 10px 0 0;
}

.text2{
    text-align:justify;
    font-family: 'Raleway', sans-serif;
}

.link-container2{
    text-align: center;
    padding-top: 10px;
}


/* style for headline title, byline, and lead*/
.headtitle-container1{
    font-family: 'Raleway', sans-serif;
    color: #002e5d;
}
.headline{
    text-align: justify;
    margin-top: 7%;
    margin-left: 23.2%;
    text-transform: uppercase;
    font-size: 50px;
}

.headline:hover{
    color: #efc011;
}

.byline-format{
    text-align: right;
    font-weight: 400;
    padding-right: 40%;
    margin-top: -5%;
}

.lead-format{
    margin-right: 50px auto;
    width: 50%;
    padding: 10px;
    padding-top: 2%;
    margin-left: 340px;
}

/* style for headline */
.headline-container{
    margin: 5px;
}

.sample-img{
    width: 745px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    cursor: pointer;
}

.text-caption{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #002e5d;
    font-weight: 400;
}

/* style for text */
.text-container{
    margin-right: 50px auto;
    width: 52.5%;
    padding: 8px;
    padding-top: 3%;
    margin-left: 290px;
}

.text{
    text-align:justify;
    font-family: 'Raleway', sans-serif;
    margin-left: 3%;
}


/* style for buttons */

.batch1, .batch5, .batch9, .batch13, .batch17, .batch21 {
    position: relative;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: #002e5d;
    color: #f1f1f1;
    font-size: 15px;
    padding: 20px;
    padding-bottom: 40px;
    width: 120px;
    margin-top: 5%;
    margin-left: 10%;
    text-align: left;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

.batch2, .batch3, .batch4, .batch6, .batch7, .batch8, .batch10, .batch11, 
.batch12, .batch14, .batch15, .batch16, .batch18, .batch19, .batch20, .batch22, .batch23, 
.batch24 {
    position: relative;
    border: none;
    background-color: #002e5d;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #f1f1f1;
    font-size: 15px;
    padding: 20px;
    padding-bottom: 40px;
    width: 120px;
    margin-top: 5%;
    margin-left: 10%;
    text-align: left;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.batch25{
    position: relative;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: #002e5d;
    color: #f1f1f1;
    font-size: 15px;
    padding: 20px;
    padding-bottom: 40px;
    width: 120px;
    margin-top: 5%;
    margin-left: 27%;
    text-align: left;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.batch26, .batch27{
    position: relative;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: #002e5d;
    color: #f1f1f1;
    font-size: 15px;
    padding: 20px;
    padding-bottom: 40px;
    width: 120px;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    text-align: left;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

/* editoria board */
h1 {
    font-size: 2em;
    color:#002e5d;
    font-family:'Raleway' , sans-serif;
    text-transform: uppercase;
    margin-left: 13%;
    padding: 55px;
}

.editorial-container{
    margin: 5px;
}

.sample-img{
    width: 130px;
    height: 110px;
    display: block;
    margin-left: 25px;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

.sample-img:hover{
    filter: brightness(20%);
}

.name{
    position: absolute;
    bottom: 18%;
    left: 148px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #002e5d;
}

.position{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1%;
    margin-bottom: 30%;
    color: #002e5d;
    font-weight: bold;
}

.sample-img2{
    width: 130px;
    height: 110px;
    display: block;
    margin-left: 25px;
    margin-top: 50px;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

.sample-img2:hover{
    filter: brightness(20%);
}

.name2{
    position: absolute;
    bottom: -7%;
    left: 148px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #002e5d;
}

.position2{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1%;
    margin-bottom: 30%;
    color: #002e5d;
    font-weight: bold;
}

.sample-img3{
    width: 130px;
    height: 110px;
    display: block;
    margin-left: 500px;
    margin-top: -270px;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

.sample-img3:hover{
    filter: brightness(20%);
}

.name3{
    position: absolute;
    top: 65%;
    left: 624px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #002e5d;
}

.position3{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1%;
    margin-bottom: 30%;
    color: #002e5d;
    font-weight: bold;
}

.sample-img4{
    width: 130px;
    height: 110px;
    display: block;
    margin-left: 500px;
    margin-top: 50px;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

.sample-img4:hover{
    filter: brightness(20%);
}

.name4{
    position: absolute;
    bottom: -7%;
    left: 624px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #002e5d;
}

.position4{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1%;
    margin-bottom: 30%;
    color: #002e5d;
    font-weight: bold;
}

.sample-imgOne{
    width: 130px;
    height: 110px;
    display: block;
    margin-left: 25px;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

.sample-imgOne:hover{
    filter: brightness(20%);
}

.name-one{
    position: absolute;
    margin-top: -5%;
    left: 148px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #002e5d;
}

.position-one{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1%;
    margin-bottom: 30px;
    color: #002e5d;
    font-weight: bold;
}

.sample-imgTwo{
    width: 130px;
    height: 110px;
    display: block;
    margin-left: 25px;
    margin-top: 4.5%;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

.sample-imgTwo:hover{
    filter: brightness(20%);
}

.name-two{
    position: absolute;
    margin-top: -5%;
    left: 148px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #002e5d;
}

.position-two{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1%;
    margin-bottom: 30px;
    color: #002e5d;
    font-weight: bold;
}

.sample-imgThree{
    width: 130px;
    height: 110px;
    display: block;
    margin-left: 500px;
    margin-top: -21%;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

.sample-imgThree:hover{
    filter: brightness(20%);
}

.name-three{
    position: absolute;
    margin-top: -5%;
    left: 623px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #002e5d;
}

.position-three{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1%;
    margin-bottom: 30px;
    color: #002e5d;
    font-weight: bold;
}

.sample-imgFour{
    width: 130px;
    height: 110px;
    display: block;
    margin-left: 500px;
    margin-top: 4.5%;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

.sample-imgFour:hover{
    filter: brightness(20%);
}

.name-four{
    position: absolute;
    margin-top: -5%;
    left: 623px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #002e5d;
}

.position-four{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1%;
    margin-bottom: 30px;
    color: #002e5d;
    font-weight: bold;
}

.sample-imgFive{
    width: 130px;
    height: 110px;
    display: block;
    margin-left: 25px;
    margin-top: 4.5%;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

.sample-imgFive:hover{
    filter: brightness(20%);
}

.name-five{
    position: absolute;
    margin-top: -5%;
    left: 150px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #002e5d;
}

.position-five{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1%;
    margin-bottom: 30px;
    color: #002e5d;
    font-weight: bold;
}

.sample-imgSix{
    width: 130px;
    height: 110px;
    display: block;
    margin-left: 500px;
    margin-top: -8.1%;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

.sample-imgSix:hover{
    filter: brightness(20%);
}

.name-six{
    position: absolute;
    margin-top: -5%;
    left: 623px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #002e5d;
}

.position-six{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1%;
    margin-bottom: 30px;
    color: #002e5d;
    font-weight: bold;
}

.sample-imgSeven{
    width: 130px;
    height: 110px;
    display: block;
    margin-left: 900px;
    margin-top: -8.3%;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

.sample-imgSeven:hover{
    filter: brightness(20%);
}

.name-seven{
    position: absolute;
    margin-top: -5%;
    left: 1023px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #002e5d;
}

.position-seven{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1%;
    margin-bottom: 30px;
    color: #002e5d;
    font-weight: bold;
}

.grid-container{
    width: 570px;
    height: 600px;
    overflow: hidden;
    background: #002e5d;
    margin: 20px auto;
    padding: 20px;
    margin-left: 60%;
    margin-top: -59%;
}

.content-about{
    color: #efc011;
    font-size: 35px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.text-about1{
    text-indent: 3em;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-align: justify;
    margin-top: 4%;
    font-size: 11px;
    line-height: 1.6em;
}

.text-about2{
    text-indent: 3em;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-align: justify;
    margin-top: -1%;
    font-size: 11px;
    line-height: 1.6em;
}

.content-mission{
    color: #efc011;
    font-size: 35px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 45%;
    margin-top: 5%;
}

.text-mission{
    text-indent: 3em;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    margin-top: 3%;  
    display: block;
    font-size: 11px;
    line-height: 1.6em;
    text-align: justify;
    padding-right: 270px;
}

.content-vision{
    color: #efc011;
    font-size: 35px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: -60%;
    margin-top: -31%;
}

.text-vision{
    text-indent: 3em;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    margin-top: 3%;  
    margin-left: 60%;
    display: block;
    font-size: 11px;
    overflow-wrap: break-word;
    line-height: 1.6em;
    text-align: justify;
}